In [16]:
import numpy as np
import pandas as pd
from docx import Document

In [29]:
pd.set_option('display.max_columns', None)

In [28]:
1. Attribute description for german

Attribute 1:  (qualitative)
	       Status of existing checking account
           A11 :      ... <    0 DM
	       A12 : 0 <= ... <  200 DM
	       A13 :      ... >= 200 DM /salary assignments for at least 1 year
           A14 : no checking account

Attribute 2:  (numerical)
	      Duration in month

Attribute 3:  (qualitative)
	      Credit history
	      A30 : no credits taken/all credits paid back duly
          A31 : all credits at this bank paid back duly
	      A32 : existing credits paid back duly till now
          A33 : delay in paying off in the past
	      A34 : critical account/other credits existing (not at this bank)

Attribute 4:  (qualitative)
	      Purpose
	      A40 : car (new)
	      A41 : car (used)
	      A42 : furniture/equipment
	      A43 : radio/television
	      A44 : domestic appliances
	      A45 : repairs
	      A46 : education
	      A47 : (vacation - does not exist?)
	      A48 : retraining
	      A49 : business
	      A410 : others

Attribute 5:  (numerical)
	      Credit amount

Attibute 6:  (qualitative)
	      Savings account/bonds
	      A61 :          ... <  100 DM
	      A62 :   100 <= ... <  500 DM
	      A63 :   500 <= ... < 1000 DM
	      A64 :          .. >= 1000 DM
              A65 :   unknown/ no savings account

Attribute 7:  (qualitative)
	      Present employment since
	      A71 : unemployed
	      A72 :       ... < 1 year
	      A73 : 1  <= ... < 4 years  
	      A74 : 4  <= ... < 7 years
	      A75 :       .. >= 7 years

Attribute 8:  (numerical)
	      Installment rate in percentage of disposable income

Attribute 9:  (qualitative)
	      Personal status and sex
	      A91 : male   : divorced/separated
	      A92 : female : divorced/separated/married
              A93 : male   : single
	      A94 : male   : married/widowed
	      A95 : female : single

Attribute 10: (qualitative)
	      Other debtors / guarantors
	      A101 : none
	      A102 : co-applicant
	      A103 : guarantor

Attribute 11: (numerical)
	      Present residence since

Attribute 12: (qualitative)
	      Property
	      A121 : real estate
	      A122 : if not A121 : building society savings agreement/
				   life insurance
              A123 : if not A121/A122 : car or other, not in attribute 6
	      A124 : unknown / no property

Attribute 13: (numerical)
	      Age in years

Attribute 14: (qualitative)
	      Other installment plans 
	      A141 : bank
	      A142 : stores
	      A143 : none

Attribute 15: (qualitative)
	      Housing
	      A151 : rent
	      A152 : own
	      A153 : for free

Attribute 16: (numerical)
              Number of existing credits at this bank

Attribute 17: (qualitative)
	      Job
	      A171 : unemployed/ unskilled  - non-resident
	      A172 : unskilled - resident
	      A173 : skilled employee / official
	      A174 : management/ self-employed/
		     highly qualified employee/ officer

Attribute 18: (numerical)
	      Number of people being liable to provide maintenance for

Attribute 19: (qualitative)
	      Telephone
	      A191 : none
	      A192 : yes, registered under the customers name

Attribute 20: (qualitative)
	      foreign worker
	      A201 : yes
	      A202 : no

SyntaxError: invalid syntax (283786327.py, line 1)

In [26]:
data = pd.read_csv('statlog+german+credit+data/german.data', sep=' ', header=None)
columns = ['checking_acc_status', 'duration', 'cred_hist', 'purpose', 'loan_amt', 'saving_acc_bonds',
          'present_employment_since','installment_rate', 'personal_stat_gender', 'other_debtors_guarantors',
          'present_residence_since', 'property', 'age', 'other_installment_plans', 'housing', 'num_curr_loans',
          'job', 'num_people_provide_maint', 'telephone', 'is_foreign_worker', 'target']
df = pd.DataFrame(data.values, columns=columns)

In [ ]:
map_checking = {'A11':'below_0','A12':'below_200','A13':'above:200','A14':'no_cheking_acc'}
map_cred_hist = {'A30':'no_loan_or_paid_duly_other',
                 'A31':'paid_duly_this_bank',
                 'A32':'curr_loans_paid_duly',
                 'A33':'delay_in_past',
                 'A34':'risky_acc_or_curr_loan_other'}
map_purpose = {'A40':'car_new',
               'A41':'car_used',
               'A42':'furniture_equipment',
               'A43':'radio_tv',
               'A44':'domestic_applience',
               'A45':'repairs',
               'A46':'education',
               'A47':'vacation',
               'A48':'retraining',
               'A49':'business',
               'A410':'others'}

map_saving_acc_bonds = {'A61':'below_100',
                        'A62':'below_500',
                        'A63':'below_1000',
                        'A64':'above_1000',
                        'A65':'unknown_no_saving_acc',
                       }
map_emp = {'A71':'unemployed',
           'A72':'below_1y',
           'A73':'below_4y',
           'A74':'below_7y',
           'A75':'above_7y'}

map_status_gender = {'A91':'male:divorced',
                     'A92':'female:divorced_or_married',
                     'A93':'male:single',
                     'A94':'male:married_or_widowed',
                     'A95':'female:single'}

map_other_debtors_guarantors = {'A101':'none',
                                'A102':'co_applicant',
                                'A103':'guarantor'}

map_property = {'A121':'real_estate',
                'A122':'life_insurance_or_aggreements',
                'A123':'car_or_other',
                'A124':'unknown_or_no_property'}

map_other_installment_plans = {'A141':'bank',
                               'A142':'store',
                               'A143':'none'}

map_housing = {'A151':'rent',
               'A152':'own',
               'A153':'for_free'}

map_job = {'A171':'unemployed_non_resident',
           'A172':'unskilled_resident',
           'A173':'skilled_official',
           'A174':'management_or_self_emp'}

map_telephone = {'A191':'no',
                 'A192':'yes'}

map_foreign_worker = {'A201':'yes',
                      'A202':'no'}


df['checking_acc_status'].replace(map_checking, inplace=True)

map_cred_hist
map_purpose
map_saving_acc_bonds
map_emp
map_status_gender
map_other_debtors_guarantors
map_property
map_other_installment_plans
map_housing
map_job
map_telephone
map_foreign_worker

In [36]:
mapping_dict = {
    'checking_acc_status': {'A11': 'below_0', 'A12': 'below_200', 'A13': 'above:200', 'A14': 'no_cheking_acc'},
    'cred_hist': {'A30': 'no_loan_or_paid_duly_other', 'A31': 'paid_duly_this_bank', 'A32': 'curr_loans_paid_duly',
                  'A33': 'delay_in_past', 'A34': 'risky_acc_or_curr_loan_other'},
    'purpose': {'A40': 'car_new', 'A41': 'car_used', 'A42': 'furniture_equipment', 'A43': 'radio_tv',
                'A44': 'domestic_applience', 'A45': 'repairs', 'A46': 'education', 'A47': 'vacation',
                'A48': 'retraining', 'A49': 'business', 'A410': 'others'},
    'saving_acc_bonds': {'A61': 'below_100', 'A62': 'below_500', 'A63': 'below_1000', 'A64': 'above_1000',
                         'A65': 'unknown_no_saving_acc'},
    'present_employment_since': {'A71': 'unemployed', 'A72': 'below_1y', 'A73': 'below_4y', 'A74': 'below_7y', 'A75': 'above_7y'},
    'personal_stat_gender': {'A91': 'male:divorced', 'A92': 'female:divorced_or_married', 'A93': 'male:single',
                      'A94': 'male:married_or_widowed', 'A95': 'female:single'},
    'other_debtors_guarantors': {'A101': 'none', 'A102': 'co_applicant', 'A103': 'guarantor'},
    'property': {'A121': 'real_estate', 'A122': 'life_insurance_or_aggreements', 'A123': 'car_or_other',
                 'A124': 'unknown_or_no_property'},
    'other_installment_plans': {'A141': 'bank', 'A142': 'store', 'A143': 'none'},
    'housing': {'A151': 'rent', 'A152': 'own', 'A153': 'for_free'},
    'job': {'A171': 'unemployed_non_resident', 'A172': 'unskilled_resident', 'A173': 'skilled_official',
            'A174': 'management_or_self_emp'},
    'telephone': {'A191': 'no', 'A192': 'yes'},
    'is_foreign_worker': {'A201': 'yes', 'A202': 'no'},
    'target':{1:'good',2:'bad'}
}

# Apply mapping using replace to all columns at once
df.replace(mapping_dict, inplace=True)

In [37]:
df

,checking_acc_status,duration,cred_hist,purpose,loan_amt,saving_acc_bonds,present_employment_since,installment_rate,personal_stat_gender,other_debtors_guarantors,present_residence_since,property,age,other_installment_plans,housing,num_curr_loans,job,num_people_provide_maint,telephone,is_foreign_worker,target
0,below_0,6,risky_acc_or_curr_loan_other,radio_tv,1169,unknown_no_saving_acc,above_7y,4,male:single,none,4,real_estate,67,none,own,2,skilled_official,1,yes,yes,good
1,below_200,48,curr_loans_paid_duly,radio_tv,5951,below_100,below_4y,2,female:divorced_or_married,none,2,real_estate,22,none,own,1,skilled_official,1,no,yes,bad
2,no_cheking_acc,12,risky_acc_or_curr_loan_other,education,2096,below_100,below_7y,2,male:single,none,3,real_estate,49,none,own,1,unskilled_resident,2,no,yes,good
3,below_0,42,curr_loans_paid_duly,furniture_equipment,7882,below_100,below_7y,2,male:single,guarantor,4,life_insurance_or_aggreements,45,none,for_free,1,skilled_official,2,no,yes,good
4,below_0,24,delay_in_past,car_new,4870,below_100,below_4y,3,male:single,none,4,unknown_or_no_property,53,none,for_free,2,skilled_official,2,no,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no_cheking_acc,12,curr_loans_paid_duly,furniture_equipment,1736,below_100,below_7y,3,female:divorced_or_married,none,4,real_estate,31,none,own,1,unskilled_resident,1,no,yes,good
996,below_0,30,curr_loans_paid_duly,car_used,3857,below_100,below_4y,4,male:divorced,none,4,life_insurance_or_aggreements,40,none,own,1,management_or_self_emp,1,yes,yes,good
997,no_cheking_acc,12,curr_loans_paid_duly,radio_tv,804,below_100,above_7y,4,male:single,none,4,car_or_other,38,none,own,1,skilled_official,1,no,yes,good
998,below_0,45,curr_loans_paid_duly,radio_tv,1845,below_100,below_4y,4,male:single,none,4,unknown_or_no_property,23,none,for_free,1,skilled_official,1,yes,yes,bad
999,below_200,45,risky_acc_or_curr_loan_other,car_used,4576,below_500,unemployed,3,male:single,none,4,car_or_other,27,none,own,1,skilled_official,1,no,yes,good

In [30]:
df.purpose.value_counts()

A43     280
A40     234
A42     181
A41     103
A49      97
A46      50
A45      22
A44      12
A410     12
A48       9
Name: purpose, dtype: int64

In [27]:
df

,checking_acc_status,duration,cred_hist,purpose,loan_amt,saving_acc_bonds,present_employment_since,installment_rate,personal_stat_gender,other_debtors_guarantors,...,property,age,other_installment_plans,housing,num_curr_loans,job,num_people_provide_maint,telephone,is_foreign_worker,target
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1